.main-header{
  background-color: cyan;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: 'Dosis', sans-serif;
  position: relative;
}
.main-nav{
  
  display: flex;
  background-color: red;
}


.foto {

 margin-top: -10px;
 margin-left: 510px;
      width: 340px;
     height: 340px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}



.curriculum{
     margin-top: -60px;
     width: 145px;
     height: 70px;
     -moz-border-radius: 0 50% / 0 100%;
     -webkit-border-radius: 0 50% / 0 100%;
     border-radius: 0 50% / 0 100%;
     background: #5cb85c;
     border: 3px solid #555;
}

.proyectos{

background-color: red;
  height: 20px;
  width: 80px;

  margin-top: -333px;
  margin-left: 850px;
  
}

.certificaciones{
margin-top: -20px;
margin-left: 930px;

background-color: yellow;
  height: 20px;
  width: 120px;
  
}

.cursos{
 margin-top: -20px;
 margin-left: 1050px;
background-color: green;
  height: 60px;
  width: 120px;
}



.descargar-cv{
  margin-top: -100px;
  margin-left: 50px;
}



