.main-header{
  background-color: cyan;
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: 'Dosis', sans-serif;
  position: relative;
}
.main-nav{
  
  display: flex;
  background-color: red;
}


.foto {

 margin-top: -10px;
 margin-left: 510px;
      width: 340px;
     height: 340px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}



.curriculum{
     margin-top: -332px;
     width: 250px;
     height: 100px;
     -moz-border-radius: 0 50% / 0 100%;
     -webkit-border-radius: 0 50% / 0 100%;
     border-radius: 0 50% / 0 100%;
     background: #5cb85c;
     border: 3px solid #555;
}



.descargar-cv{
  margin-top: -800px;
  margin-left: 50px;
}



