*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}

.main-header{
  position: fixed;
  width: 100%;
  height: 7rem;
  font-size: 2.7rem;
  box-shadow: 0 0.4rem 0.5rem #e5e5e5;

}

.main-nav {
  list-style: none;
  margin-left: 60rem;

}

.main-nav li{
  display: inline-block;
  text-decoration: none;
  margin-top: 2rem;
  padding-left:5rem;
}

.main-nav a{
  color: black;
  text-decoration: none;
  padding: 0.5rem;

}

.main{
  width: 100%;
  height: 100rem;

}

.main-footer{
  width: 100%;
  height: 6rem;
  background-color:black;
}




